<aside>

<h4><i class="bi bi-funnel"></i> Filtres</h4>
<div class="form-container searchButtons">
    {# <input type="submit" value="Search" id="search" class="btn btn-light"> #}
    <input type="reset" value="Réinitialiser" id="reset" class="btn btn-light">
</div>
<hr>
{% include '_fragments/_jsSearch.html.twig' %} 



    {# <div class="form-container"> #}
        {# injection du controller SearchFormController pour accèder au form dans toutes les pages #}
        {# {{ render(controller('App\\Controller\\SearchFormController::form')) }}  #}
    {# </div> #}
{# <hr>
    <div class="brandCheckboxes">
        <h5><i class="bi bi-list-check"></i> Marques</h5>
        <ol>
        {% for brand in brands.getBrands() %}
            <li><input type="checkbox" name="brand" value="{{ brand.name }}" class="brandCheckbox"> {{ brand.name }}</li>
        {% endfor %}
        </ol>
    </div> #}


</aside>
