{% if app.user %}

{% if new_order_count.getUserOrder() > 1 %}
    {% set href = 'app_user_account' %}
    {% set title = 'voir vos commandes' %}
    {% set count = new_order_count.getUserOrder() %}
    {% set command = 'commandes' %}
{% else %}
    {% set href = 'app_user_account' %}
    {% set title = 'voir votre commande' %}
    {% set count = 'Une' %}
    {% set command = 'commande' %}
{% endif %}

{% else %}

{% if new_order_count.getUserOrder() > 1 %}
    {% set href = 'app_order' %}
    {% set title = 'voir vos commandes' %}
    {% set count = new_order_count.getUserOrder() %}
    {% set command = 'commandes' %}
{% else %}
    {% set href = 'app_order' %}
    {% set title = 'voir votre commande' %}
    {% set count = 'Une' %}
    {% set command = 'commande' %}
{% endif %}

{% endif %}

<a href="{{ path(href) }}" title="{{ title }}">
    {{ count }} {{ command }} en attente de paiement   
    &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
    </svg>
</a>