<h1>Bonjour, merci de confirmer votre e-mail!</h1>

<p>
    En suivant le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Je confirme mon adresse email.</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt!
</p>
