<hr>
<form method="post" action="{{ path('app_brand_delete', {'id': brand.id}) }}" onsubmit="return confirm('Etes vous sur de vouoir supprimer cette marque ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ brand.id) }}">
    <button class="btn">Supprimer</button>
</form>
