{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block content %}
    <h1>Créer Brand</h1>

    {{ include('brand/_form.html.twig') }}

    <a href="{{ path('app_brand_index') }}" class="btn">Retour à la liste</a>
{% endblock %}
