{% extends 'base.html.twig' %}

{% block title %}Modifier Comment{% endblock %}

{% block content %}
    <h1>Modifier Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comment_index') }}">Retour à la liste</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
