{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block content %}
    <h1>Nouveau Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}" class="btn">Retour à la liste</a>
{% endblock %}
