.mailcontainer {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;;
  border: 1px solid #c7c721;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #454543;
  padding: 20px;
}

.headermail__logo img {
    width: 100%;
    height: 300px;
    // -o-object-fit: cover;
    object-fit: cover;
    // -o-object-position: bottom;
    object-position: bottom;
    opacity: 0.5;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 10px;
  color: #333;
}

.h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 10px;
  color: #333;
}