.mailcontainer {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ced2c9;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 20px;
}

.headermail__logo img {
    height:150px; 
    width:150px; 
    object-fit:cover;
    border-radius: 50%;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 10px;
  color: #333;
}

.h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 10px;
  color: #333;
}