// importer la feuille de style responsive
// @import "responsive";

// barre de symfony debug
.sf-toolbarreset .hide-button {
  width: 36px!important;
  margin: 0!important;
}

body {
  // background: rgb(255, 255, 255) !important;
  text-align: left !important;
  padding: 10px 0 !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(53, 51, 51) !important;
  max-width: 1600px;
  margin: 0 auto!important;
  font-weight: 300!important;
  width: 95%;
}

* {
  box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  display: flex;
  flex-grow: 1;
}

.swal-icon--success__line::before, 
.swal-icon--success__line::after {
  box-sizing: inherit !important;
}

i {
  margin-right: 10px!important;
}
.filter_choices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 20px 0;
}
input.brandCheckbox {
  margin-right: 12px;
}

.btn {
  background-color: #c7c721 !important;
    color: #ffffff !important;
    font-size: 1rem!important;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    border: none !important;
    width: auto !important;
}

button#reset_submit {
  width: 100%!important;
}

#header {
  position: relative;
}

#filters {
  // width: 95%;
  height: 100%;
  margin: 0 auto;
}

#main{
  display: flex;
  flex-direction: column;
}

#footer {
  clear: both;
  text-align: center;
  color: #a8a1a1;
  margin-top: 30px;
  padding: 30px;
  background: rgb(246 246 244);
  border-top: 3px solid #c7c721;
  box-shadow: 0px 20px 20px rgb(0 0 0 / 10%);
  // position: fixed;
  // bottom: 0;
  // width: 100%;
}

.username {
  color:#c7c721;
  margin-bottom: 0;
  padding: 0 10px 5px 0;
}
.dropdown-toggle::after {
  margin-left: 1rem !important;
}

.navbar-expand-lg {
  padding: 15px 30px !important;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;

  .nav-item a {
    padding: 15px 30px !important;
    margin-right: 15px;
    color: #161616 !important;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
  }

  .nav-item a:hover {
    cursor: pointer;
    color: white !important;
    background-color: #c6c720;
  }
  .dropdown-item {
    padding: 15px 30px !important;
    margin: 0 !important;
    color: #161616 !important;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    columns: 2;
  }

  .dropdown-menu {
    margin: 0 !important;
    padding: 20px 0 !important;
    border: 1px solid #c7c721 !important;
  }
  
}

.navbar.bg-light {
  background-color: #ffffff !important;
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
}

hr {
  border: 1px solid #c7c721 !important;
  padding: 0 !important;
}

a {
  color: #cb8431 !important;
}

ol ul {
  padding: 0 0 0 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;

  th,
  td {
    padding: 0.4rem !important;
    text-align: left;
    border: none !important;
  }
  // set td 1 2 and 3 width
  // td:nth-child(1),
  // td:nth-child(2),
  // td:nth-child(3),
  // td:nth-child(6) {
  //   width: 10%;
  //   white-space: nowrap;
  // }
}

  tr:nth-child(even) {
    background-color: rgb(245, 245, 245) !important;
  }

button {
  margin: 10px 0 !important;
  width: 100%!important;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  width: 100%!important;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.searchButtons {
  margin-top: 10px;
}

#searchResults {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #d7dbdd;
  background-color: transparent;
  opacity: 0.4;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower { 
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper { 
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip { display: none; /* display and visibility only */ }

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb { 
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px; 
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

form.form-inline.my-2.my-lg-0 {
  display: flex;
  gap: 10px;
}

label {
  font-size: 0.9rem;
  font-weight: 300;
}

.container {
  width: 100%;
  margin: 30px auto;
  padding: 0;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;

  .slider-picture {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.5;
  }
}

.home-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0 30px 0;

  section {
    padding: 15px 30px;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: #cb8431;
    }
  }
}

// all last-five h2
.last-five h2 {
  //background-color: #c7c721;
  background: rgb(255,255,255);
  //background: linear-gradient(90deg, rgba(255,255,255,0) 45%, rgba(199,199,33,1) 100%);
  background: linear-gradient(-90deg, rgba(255,255,255,0) 74%, rgba(233, 233, 222, 0.407) 100%);
  color: #c7c721;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
  height: fit-content;
  width: 100%;
}
.last-five h3,
.block-content h1 {
  background: rgb(199,199,33);
  background: linear-gradient(90deg, rgba(199,199,33,0.4066001400560224) 0%, rgba(255,255,255,0) 44%);
  color: #7d7d1f;;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.last-five h6 {
  color: #454543;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.last-five > h6 {
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 74%, rgba(233, 233, 222, 0.407) 100%);
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  line-height: inherit;
  display: flex;
  flex-wrap: wrap;
}

.last-five a {
  text-decoration: none;
} 

.page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

aside {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  height: 100%;
  overflow: auto;
  background-color: rgb(184 176 176 / 5%);
  padding: 20px !important;
  gap: 20px;
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 99%) 18%,
    hsl(344deg 0% 99%) 26%,
    hsl(344deg 0% 98%) 32%,
    hsl(344deg 0% 98%) 37%,
    hsl(344deg 0% 97%) 42%,
    hsl(344deg 0% 97%) 47%,
    hsl(344deg 0% 96%) 54%,
    hsl(344deg 0% 96%) 64%,
    hsl(0deg 0% 95%) 90%
  );
}

.aside > div {
  width: 100%;
}

.brandCheckboxes ol{
    padding: 0!important;
    line-height: 2rem;
}

.block-content {
    width: 100%;
    margin: 0 auto;
}

.last-five {
  // display: flex;
  // flex-flow: column wrap;
  // margin: 0;
  // padding-left: 30px;
  // background-color: #092781;
  // width: 100%;

  section {
    padding: 40px 40px;
    border: 1px solid #ebebe4;
    box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    margin: 20px 0;
    // width: 290px!important;
    width: calc(25% - 30px);
    height: auto;

    &:hover {
      cursor: pointer;
      // change card size on hover
      //transform: scale(1.01);
      box-shadow: 0px 0px 22px -7px rgba(0, 0, 0, 0.2);
    }
  }

  .last-five-products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
  }

  ol.last-five {
    display: inline-block;
  }

  img.last-five-picture {
    // width: 200px;
    // height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 15px 0 0 0;
  }
  .catalog-price {
    position: absolute;
    font-size: 0.9rem;
    background-color: white;
    padding: 3px 5px;
    border-radius: 3px;
  }
  .selling-price {
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin: 15px 0;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;
  position: relative;
  text-align: left;

  .categorie {
    font-size: 0.9rem;
    font-weight: 200;
  }
  .sous-categorie {
    font-size: 0.65rem;
    font-weight: 300;
  }
  .type {
    font-size: .8rem;
    font-weight: 100;
  }
  .brand {
    font-size: .7rem;
    font-weight: 100;
  }
}

.productLink {
  position: absolute;
  top: 100px;
  transform: rotate(-8deg);
  // left: 0;
  top: 210px;
  background-color: #c7c721;
  padding: 3px 15px;
  border-radius: 0.3rem;
  border: none;
}

.productLink a {
  font-size: 0.8rem;
  text-decoration: none;
  color: white !important;
}

.productInfoFooter {
  position: relative;
  right: 0;
  bottom: 178px;
  left: 87px;
  rotate: 13px;
  font-size: 0.9rem;
  background-color: #c7c721;
  transform: rotate(8deg);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  border: 2px solid white;
}

h5.searchResults {
  color: #c7c721 !important;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 20px;
  padding-left: 15px;
}
// pour aligner le bouton reset sous le bouton submit
form.resetForm {
  margin-top: -30px;
  width: 100%;
}

// user bar
.userbar {
  display: flex;
  justify-content: space-between;
  //justify-content: flex-end;
  align-items: center;
  padding: 15px 25px;
  background: rgb(255,255,255);
  //background: linear-gradient(90deg, rgba(255,255,255,0) 45%, rgba(199,199,33,1) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 74%, rgba(233, 233, 222, 0.407) 100%);
  color: white;
  
}
.userbar h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.topicons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  color: #c7c721;
}

.logo {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sitename h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 0 20px;
  color: #c7c721;
}

.sitename a {
  text-decoration: none;
  color: #c7c721;
  transition: all 0.5s ease-in;

  &:hover {
    color: #818009!important;
    transition: all 0.2s ease-in;
  }
}

.basketicon, .topicon {
  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover {
    color: #818009!important;
    transition: all 0.3s ease-in;
  }
}

help.help-block {
  color: green!important;
  font-size: .8rem!important;
}

.min-error, .max-error, .text-error {
  color: red!important;
  font-size: .8rem!important;
  transition: all 0.5s ease-in;
}

/* Sidenav menu */
.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -350px;
  background-color:#818009;
  // padding-top: 60px;
  padding: 10px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black !important;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: whitesmoke;
  transition: 0.5s;
}

/* Active class change left position to 0
     and display sidebar */
.sidenav.active {
  left: 0;
  z-index: 1000;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #dfdfdf;
  margin: 6px 20px 6px 0;
}

.pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin: 0 5px;

    a {
      text-decoration: none;
      color: #cb8431;
      padding: 5px 10px;
      border: 1px solid #cb8431;
      border-radius: 5px;
      transition: 0.2s;

      &:hover {
        background-color: #cb8431;
        color: white !important;
      }
    }
  }
}

.active-paginate-link {
  text-decoration: none;
  background-color: #818009;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    background-color: #cb8431;
    color: white !important;
  }
}

// form errors messages
.invalid-feedback {
  padding: 7px 0 !important;
}

.red {
  color: red !important;
}

// fiche produit

.gallery {
height: auto;
width: 100%;
//margin: 20px 0 10px 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.galleryThumb{
  height: 150px;
  width: 150px;
  margin: 10px 0;
  }

.galleryThumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.catalogPrice {
  font-weight: 300;
  color: #c7c721;
}

.dicountPrice {
  font-weight: 300;
  color: #c7c721;
}

.picture_XS {
  width: 95px!important;
  height: 95px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.price {
  font-size: 1.2rem;
  font-weight: 300;
  color: #c7c721;
}

section.result-card {
  margin-top: inherit;
}

.resultsNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px!important;
}

// fixe la taille du contenant du swiper au contenant parent
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: #c7c721!important;
}

.swiper-pagination-bullet-active {
  background-color: #c7c721 !important;
}

.swiper-slide {
  margin: 0;
}

// équilibre margin entre les slides du swiper pour 30px de marge totale entre les slides
.swiper-slide, .swiper-slide-next {
  margin-left: 15px!important;
}
.swiper-slide, .swiper-slide-prev {
  margin-right: 15px!important;
}

// calle les bullets du swiper en bas
.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 0;
}

// modal pictures

.fade-dialog {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

}

dialog {
  border-color: #c7c721;
}

.fade-dialog.open {
  opacity: 1;
}

.picture_XS {
  width: 95px;
  height: 95px;
  object-fit: cover;
  border-radius: 5px;
}

.gallery_small {
  display: flex;
  max-width: 400px;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

img.gallery_dialog_img {
  max-width: -webkit-fill-available;
  width: 800px;
}

.product_header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  //border: 1px solid blue;
  width: 100%;
}

.product_info {
  //border: 1px solid red;
  width: 100%;
}

.product_info_comp {
  //border: 1px solid #52522e;
  width: 100%;
}