
    <div class="footermail">
        <div class="footermail__content">
            <div class="footermail__content__title">
                <h2>Newsletter</h2>
            </div>
        </div>
    </div>
