{% extends 'email/base_email.html.twig' %}

{% block header %}
<div class="headermail">
    <div class="headermail__logo">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/acc1f836e10a4c1191dbae2801556d8d_9366/Chaussure_Ultraboost_5_DNA_Running_Sportswear_Lifestyle_Blanc_GV8747_01_standard.jpg" alt="logo">
    </div>
    <div class="headermail__title">
        <h1>{{ headerMessage }}</h1>
    </div>
</div>
{% endblock %}

