
<div class="headermail">
    <div class="headermail__logo">
        <img src="https://media.gq.com/photos/561ecfd8680c08be3c199b65/16:9/w_1280,c_limit/clean-white-shoes-01_1024.jpg" alt="logo">
    </div>
    <div class="headermail__title">
        <h1>{{ title }}</h1>
    </div>
</div>


