{% extends 'base.html.twig' %}

{% block title %}Nouvelle Configuration{% endblock %}

{% block content %}
    <h1>Créer une configuration</h1>

    {{ include('configuration/_form.html.twig') }}

    <a href="{{ path('app_configuration_index') }}">Retour à l liste</a>
{% endblock %}
